/*
-Deben ser elementos por default que lucirán igual en todo el sitio, Es .
-Ningún estilo de estos elementos selectores deberá usar !important.
-No usar selectores tipo class o id.
*/

	
a
	text-decoration none
	
	&:hover
		text-decoration underline
		
	img
		border 0
	
body
	background-color Azul
	color Gris
	font-size 1.3em

p
	font-family RobotoT 
	color Blanco
	font-size 1.4rem
	
h1, h2
	color Amarillo
	font-family September
	font-size 9rem
	line-height 5rem
	margin 0.3em 0 0
	position relative
	z-index 200000
	display inline-block

.img-manchita
	background-image url("../images/img-mancha.png")
	display inline-block
	height 53px
	margin -6% 0 0 30%
	width 146px

.img-manchita2
	background-image url("../images/img-mancha.png")
	display inline-block
	height 53px
	margin -6% 0 0 60%
	width 146px
	

.cont-inform-recolector
	background-image url("../images/fondo-contenedores.png")
	background-repeat no-repeat
	height 600px
	margin 0 auto
	width 95%

.cont-infografia
	padding-top 8%
	
	p
		font-size 1.5rem
		line-height 1.5rem
	
	span
		color Amarillo
		font-family September
		font-size 11rem
		
	p.paso-primero
		margin-top 40% 
	
	p.paso-segundo
		margin-top 43% 
	
	p.paso-tercero
		margin-top 19% 
	
	h2.pasos
		font-size 7rem
		line-height 4rem
		text-align center
p.intro-pasosRS
	font-size 1.8rem
	margin 0 auto
	width 60%
	
		
/*BOTONES*/

.conte-botones-fin
	text-align center

button
	   background-color none

.btn-clase-b
	margin 0 3rem 2rem 0 !important 
	
.btn-clase, .btn-clase-b
		background-color none !important
		background-image url("../images/img-mancha.png")
		background-position 0px 29px
		background-repeat no-repeat
		border none
		color Amarillo
		cursor pointer
		display inline-block
		font-family September
		font-size 7.5rem
		height 97px
		margin 0 4rem 2rem 0 
		text-align center
		width 146px
		
		&:hover, &:active, &:focus
			color Blanco
			text-decoration none

/*CATEGORIA*/
h1.tiulo-catego
	color Amarillo
	display inline-block
	font-family September
	font-size 9rem
	line-height 5rem
	margin 0.4em 0 0 2rem
	position relative
	z-index 200000
	
.iconos-suen
	background-image url("../images/sprite-categorias.png")

.ico-piloto
	background-position -518px -178px
	background-repeat no-repeat
	display inline-block
	float left
	height 180px
	width 150px

/*PERFIL*/

h1.titulo-perfil
	color Amarillo
	display inline-block
	font-family September
	font-size 15rem
	line-height 5rem
	margin 0.3em 0 0 
	position relative
	z-index 200000

h3
	color Amarillo
	font-family September
	font-size 8rem
	line-height 6rem

.datos-chicos
	color Blanco
	font-family September
	font-size 5rem
	line-height 1.5rem

.img-chicuelos-perfil
	margin-top 7rem

form.registro-tarjeta
	
	margin-top 7rem
	
	label
		color Amarillo
		font-family September
		font-size 6rem
		line-height 5rem
		margin 0
		font-weight 200
	
	input
		border 1px AzulCla solid
		width 100%
		
button.tarjeta-a

			












	