/*FONDO VALIDADOR*/

.sprite-nubes-luna
	background-image url("../images/nubes-luna.png")
	
.sprite-estrellas
	background-image url("../images/img-estrellas.png")

.cont-Astronauta
	background-image url("../images/img-astronauta.png")
	height 396px
	width 407px
	position absolute
	top 35%
	left 9%

.cont-Luna
	background-position -624px -8px
	display inline-block
	height 278px
	left 68%
	position absolute
	top 27%
	width 278px
	
.cont-Estella
	background-position -599px -8px
	display inline-block
	height 50px
	width 50px

.star-a
	left 64%
	position absolute
	top 26%
	
.star-b
	left 10%	
	position absolute
	top 64%
.star-c
	left 76%
	position absolute
	top 69%

.star-d
	left 34%
	position absolute
	top 53%

.star-e
	left 23%
	position absolute
	top 27%

.cont-Estella-B
	background-position -541px -68px
	display inline-block
	height 50px
	width 50px

.star-1
	left 48%
	position absolute
	top 22%

.star-2
	left 68%
	position absolute
	top 70%

.star-3
	left 83%
	position absolute
	top 50%
	
.star-4
	left 29%
	position absolute
	top 31%

.star-5
	left 50%
	position absolute
	top 86% 

.cont-Estella2
	background-position -534px -2px
	display inline-block
	height 66px
	width 66px

.stars-a
	left 26%
	position absolute
	top 74%
	
.stars-b
	left 65%
	position absolute
	top 55%

.stars-c
	left 80%
	position absolute
	top 83%

.stars-d
	left 26%
	position absolute
	top 150%
	
.cont-nube
	background-position 8px 106px
	height 100px
	width 150px

.nube-a
	left 72%
	position absolute
	top 50%
	
.cont-nube-2
	background-position -1030px 106px
	height 100px
	width 150px
	
.nube-b
	left 23%
	position absolute
	top 60%

.punto-R
	background-color Rojo
	border-radius 100%
	height 10px
	width 10px

.posicion-a
	left 76%
	position absolute
	top 24%

.posicion-b
	left 63%
	position absolute
	top 57%

.posicion-c
	left 24%
	position absolute
	top 73%
	
.posicion-d
	left 20%
	position absolute
	top 30%

.punto-A
	background-color AzulCla
	border-radius 100%
	height 12px
	width 12px

.posicionA-a
	left 54%
	position absolute
	top 56%

.posicionA-b
	left 33%
	position absolute
	top 73%

.posicionA-c
	left 80%
	position absolute
	top 66%
	
.posicionA-d
	left 46%
	position absolute
	top 26%

.punto-B
	background-color Blanco
	border-radius 100%
	height 5px
	width 5px

.posicionB-a
	left 69%
	position absolute
	top 72%

.posicionB-b
	left 60%
	position absolute
	top 28%

.posicionB-c
	left 22%
	position absolute
	top 84%
	
.posicionB-d
	left 74%
	position absolute
	top 80%


/*INDEX*/

.cont-veterinaria
	background-image url("../images/img-veterinaria.png")
	height 399px
	width 407px

.cont-bombera
	background-image url("../images/img-bomberita.png")
	height 399px
	left 110rem
	position absolute
	top 129rem
	width 407px
	z-index 10


.cont-nubeII	
	background-position -324px 370px
	display inline-block
	height 248px
	left 123rem
	position absolute
	top 144rem
	width 290px

.cont-nube-3
	background-position -28px 301px
	height 180px
	width 270px

.nube-ab
	position absolute
	top 80rem
	left 46rem
	





	

			