.item
	margin 0 
	
.categoria
	height 179px

	a
		border none
		
		img
			border none

.sprite-categorias
	background-image url("../images/sprite-categorias.png")
	background-repeat no-repeat
	
.sue-pilotos
	height 179px !important
	width 160px
	display inline-block !important
	background-position -512px -173px
	
		&:hover
			background-position -512px 8px

.sue-chef
	height 179px !important
	width 160px
	display inline-block !important
	background-position -340px -169px
	
		&:hover
			background-position -340px 1px
	
.sue-profe
	height 179px !important
	width 160px
	display inline-block !important
	background-position -172px -169px
	
		&:hover
			background-position -172px 1px
	
.sue-medic
	height 179px !important
	width 160px
	display inline-block !important
	background-position 4px -174px
	
		&:hover
			background-position 4px 4px

/*Categoria*/

.categorias-int
	padding-top 13em
	
