
.recolectorSue
	background-image url("../images/fondoHeader.png")
	background-repeat-y no-repeat
	height 190px !important
	width 100%
	
.cont-menu-recolector
	
	padding 6% 0 0
	
.cont-logos-principales
	
	padding-top 4%