.nav
	
	border none
	
	&-tabs
		li
			backgound-color Blanco
			border none 
			color Azul
			font-family RobotoR
			font-size 0.8em
			
			&.active
				a
					border none
					backgound-color none
					color AzulCla
					text-decoration none
					
					&:hover
						
						border none
						backgound-color #fff !important
						color AzulCla
						text-decoration none
			
			a
				border none
				backgound-color none
				color Azul
				text-decoration none
			
				&:hover, &:focus
						
					border none
					backgound-color none !important
					color AzulCla
					text-decoration none
			
					
					
									







						