.nav
	&-tabs
		li
			border none 
			backgound-color Blanco
			font-family RobotoR
			color Azul
			

			&.active
				a
					border none
					color AzulCla
					text-decoration none
					
					&:hover
						
						border none
						color AzulCla
						text-decoration none