/*

En este archivo se declaran los colores, las fonts y sus variaciones

*/

//Paleta de colores del proyecto

Amarillo       = #ffff6c 
Azul           = #144b80
AzulCla        = #80d7f9
Blanco	       = #ffffff
Gris           = #9e9e9e
Rojo           = #b21f3b



/*Pueden encontrar más funciones para mezclas y manejo de color acá:
https://learnboost.github.io/stylus/docs/bifs.html*/

//Fonts
RobotoB = 'Roboto-Bold', sans-serif
RobotoR = 'Roboto-Regular', sans-serif
RobotoT = 'Roboto-Thin', sans-serif
September = 'September-Mornings', sans-serif

//Font weights
Light  = 300
Normal = 400
Bold   = 700