//Header
header.recolectorSue.container-fluid
	div.row
		div.col-lg-3.col-md-3.col-sm-3.col-xs-6.col-lg-offset-1.col-md-offset-1.col-sm-offset-1
			img.logo-recolector.img-responsive(src="", alt="Recolector")

		div.col-lg-5.col-md-5.col-sm-5.col-xs-12
			include menu.jade

		div.col-lg-2.col-md-2.col-sm-2.col-xs-12.col-lg-offset-1.col-md-offset-1.col-sm-offset-1
			img.logo-recolector.img-responsive(src="", alt="DrClown")

		div.col-lg-2.col-md-2.col-sm-2.col-xs-12.col-lg-offset-1.col-md-offset-1.col-sm-offset-1
			img.logo-recolector.img-responsive(src="", alt="Deprisa")



///-Header