//Menu
div.col-lg-12.col-md-12.col-sm-12.col-xs-12

	nav.bar
		ul#navegacion.nav.nav-tabs

			if titulo === "Home"
				li.active
					a(href="#") Nuestra causa |

				li
					a(href="#") ¿C&oacute;mo puedas ayudar? |

				li
					a(href="#") Sueños por cumplir


			if titulo === "¿Cómo puedas ayudar?"
				li
					a(href="#") Nuestra causa |

				li.active
					a(href="#") ¿C&oacute;mo puedas ayudar? |

				li
					a(href="#") Sueños por cumplir

			if titulo === "Sueños por cumplir"
				li
					a(href="#") Nuestra causa |

				li
					a(href="#") ¿C&oacute;mo puedas ayudar? |

				li.active
					a(href="#") Sueños por cumplir
///-Menu