//-Layout Base
extends partials/base.jade

//-Etiqueta Title
block title
	- var seccion = "Demo"
	- var titulo = "Home";
	
	title Recolector de Sueños | #{titulo}

//-Etiqueta Metadescription
block description
	meta(name="description", content="Index Deprisa" )

//-Breadcrumbs
block migas
	li  #{titulo}

block content



	//-Video
	section.container-fluid
		div.row
			
			div.col-lg-10.col-md-10.col-sm-12.col-xs12.col-lg-offset-1.col-md-offset-1
				div.titularSeccion

					h1  	&iquest;Qu&eacute; es Recolector de Sueños? 

					i.img-manchita

				div.cont-inform-recolector

					


	//-Pasos
	section.container-fluid
		div.row
			
			div.col-lg-10.col-md-10.col-sm-12.col-xs12.col-lg-offset-1
				div.titularSeccion

					h1  	&iquest;C&oacute;mo puedes hacer parte de Recolector de Sue&ntilde;os?
					i.img-manchita2

				div.cont-infografia.cont-inform-recolector

					p.intro-pasosRS.

						Sigue estos 4 pasos y estar&aacute;s m&aacute;s cerca de ayudar a cumplir el sue&ntilde;o de un niño.


					div.col-lg-3.col-md-4.col-sm-6.col-xs12.col-lg-offset-2.col-md-offset-1
						p.paso-primero.
							<span>1.</span> Selecciona el sueño que quieres apoyar con la donaci&oacute;n de un regalo.

					div.col-lg-3.col-md-4.col-sm-6.col-xs12.col-md-offset-0
						p.paso-segundo.
							<span>2.</span> Registra tus datos personales. Insp&iacute;rate y escribe un mensaje que podrá&aacute;s adjuntar al regalo del ni&ntilde;o que vas a apoyar.

					div.col-lg-3.col-md-4.col-sm-6.col-xs12.col-md-offset-0
						p.paso-tercero.
							<span>3.</span> Ubica el punto Deprisa m&aacute;s cercano. Y ll&eacute;valo all&iacute; y durante las pr&oacute;ximas 48 horas.



					div.col-lg-7.col-md-7.col-sm-12.col-xs12.col-lg-offset-3
						h2.pasos.
							Los regalos donados ser&aacute;n entregados a los ni&ntilde;os en compañ&iacute;a con la Fundaci&oacute;n Dra. Clown para que los disfruten esta Navidad.

					
						

	//-GaleriaSueños
	section.container-fluid
		div.row

			div.col-lg-10.col-md-10.col-sm-12.col-xs12.col-lg-offset-1
				div.titularSeccion

					h2  	Aquí hay muchos sueños por cumplir, &iexcl;Elije uno!

					div#mycarousel.carousel.slide(data-ride="carousel")

						//-ContenedorImagenes
						div.carousel-inner(role="listbox")

							div.item.active

								img(alt="Doctores")

							div.item

								img(alt="Profesores")

							div.item

								img(alt="Chefs")

							div.item

								img(alt="Pilotos")

						//-Flechas
						a.left.carousel-control(href="#mycarousel",role="button",data-slide="prev")
							span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
							span.sr-only.
											Anterior

						a.right.carousel-control(href="#mycarousel",role="button",data-slide="next")
							span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
							span.sr-only.
											Siguiente

































	