//-Layout Base
extends partials/base.jade

//-Etiqueta Title
block title
	- var seccion = "Demo"
	- var titulo = "Home";
	
	title Recolector de Sueños | #{titulo}

//-Etiqueta Metadescription
block description
	meta(name="description", content="Index Deprisa" )

//-Breadcrumbs
block migas
	li  #{titulo}

block content


	//-Bienvenido
	section.container-fluid
		div.row

			div.col-lg-12.col-md-12.col-sm-12.col-xs12

				div.titularSeccion

					h1 &iexcl;Bienvenido a Recolector de Sueños!

			
					p.
						Un espacio en el que t&uacute; puedes ser el primer impulso para que un niño en Colombia pueda cumplir uno de sus sueños.

				div.cont-video-campa

					p.
						REPRODUCIR VIDEO


	//-Pasos
	section.container-fluid
		div.row
			
			div.col-lg-12.col-md-12.col-sm-12.col-xs12
				div.titularSeccion

					h2  	&iquest;C&oacute;mo puedes hacer parte de Recolector de Sue&ntilde;os? 

				div.cont-infografia

					p.
						Sigue estos 4 pasos y estar&aacute;s m&aacute;s cerca de ayudar a cumplir el sue&ntilde;o de un niño.


					p.
						<span>1.</span> Selecciona el sueño.

					p.
						<span>2.</span> Registra tus datos personales. Inspírate y escribe un mensaje que podrás descargar y adjuntar al regalo del niño que vas a apoyar.

					p.
						<span>3.</span> Ubica el punto Deprisa más cercano y llévalo allí.


					p.
						<span>4.</span> Gracias a tu generosidad hoy un niño empezará a construir uno de sus sueños.

					p.
						* Aplican términos y condiciones.

	//-GaleriaSueños
	section.container-fluid
		div.row

			div.col-lg-12.col-md-12.col-sm-12.col-xs12
				div.titularSeccion

					h2  	Aquí hay muchos sueños por cumplir, &iexcl;Elije uno!

					div#mycarousel.carousel.slide(data-ride="carousel")

						//-ContenedorImagenes
						div.carousel-inner(role="listbox")

							div.item.active

								img(alt="Doctores")

							div.item

								img(alt="Profesores")

							div.item

								img(alt="Chefs")

							div.item

								img(alt="Pilotos")

						//-Flechas
						a.left.carousel-control(href="#mycarousel",role="button",data-slide="prev")
							span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
							span.sr-only.
											Anterior

						a.right.carousel-control(href="#mycarousel",role="button",data-slide="next")
							span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
							span.sr-only.
											Siguiente

































	