//-Layout Base
extends partials/base.jade

//-Etiqueta Title
block title
	- var seccion = "Demo"
	- var titulo = "Mapa";
	
	title Recolector de Sueños | #{titulo}

//-Etiqueta Metadescription
block description
	meta(name="description", content="Index Deprisa" )

block content


	//-MapaPuntos cercanos
	section.container-fluid
		div.row
			div.col-lg-8.col-md-8.col-sm-12.col-xs12.col-lg-offset-2.col-md-offset-1
				div.titularSeccion

					h1 Encuentra tu Punto Deprisa más cercano

					div.conte-iframe-mapa

						p.
							AQUI VA EL PINCHE MAPA


		//-Recomendaciones
		div.row
			div.col-lg-8.col-md-8.col-sm-12.col-xs12.col-lg-offset-2.col-md-offset-1
				div.titularSeccion.height-alto.cont-inform-recolector

					h2 Recomendaciones para entregar tu regalo

					div.conte-recomendaciones

						p.
							<span>1.</span> Selecciona el sueño.

						p.
							<span>2.</span> Registra tus datos personales. Inspírate y escribe un mensaje que podrás descargar y adjuntar al regalo del niño que vas a apoyar.

						p.
							<span>3.</span> Ubica el punto Deprisa más cercano y llévalo allí.


						p.
							<span>4.</span> Gracias a tu generosidad hoy un niño empezará a construir uno de sus sueños.

			//-BOTONES
			div.row
			div.col-lg-8.col-md-8.col-sm-12.col-xs12.col-lg-offset-2.col-md-offset-1.conte-botones-fin
				
				a.btn-volver(href="#").

					Volver

				a.btn-volver(href="#").
					Continuar


		div.sprite-estrellas.cont-Estella.star-a
		div.sprite-estrellas.cont-Estella.star-c
		div.sprite-estrellas.cont-Estella.star-d
		div.sprite-estrellas.cont-Estella2.stars-a
		div.sprite-estrellas.cont-Estella-B.star-5
		div.punto-R.posicion-a
		div.punto-R.posicion-b
		div.punto-R.posicion-c
		div.punto-A.posicionA-a
		div.punto-A.posicionA-b
		div.punto-A.posicionA-c
		div.punto-A.posicionA-d
		div.punto-B.posicionB-a
		div.punto-B.posicionB-b
		div.punto-B.posicionB-c
		div.punto-B.posicionB-d







