//-Layout Base
extends partials/base.jade

//-Etiqueta Title
block title
	- var seccion = "Demo"
	- var titulo = "Home";
	
	title Recolector de Sueños | #{titulo}

//-Etiqueta Metadescription
block description
	meta(name="description", content="Index Deprisa" )

block content

	//-Content
	section.container-fluid
		div.row
			div.col-lg-12.col-md-12.col-sm-12.col-xs-12

				div.titularSeccion

					h1.tiulo-validador.
						&iexcl;Bienvenido a <br>Recolector de Sueños!

					p.intro-validador.
						Un espacio en el que t&uacute; puedes ser el primer<br> impulso para que un niño en Colombia pueda<br> cumplir uno de sus sueños.


				div.cont-validador

					label Selecciona tu Deparatamento

					select
						option Cundinamarca
						option Antioquia
						option Valle del cauca

					label Selecciona tu Ciudad
						
					select
						option Bogotá
						option Bogotá
						option Bogotá

				p.legales-validador.

					Al suministrar tu localización, estás dando tu consentimiento expreso al dueño de la página para recopilar cierta información no personal y almacenar información en tu computador en la forma de "cookie" o un archivo similar.

			div.cont-Astronauta
			div.sprite-nubes-luna.cont-Luna
			div.sprite-estrellas.cont-Estella.star-a
			div.sprite-estrellas.cont-Estella.star-b
			div.sprite-estrellas.cont-Estella.star-c
			div.sprite-estrellas.cont-Estella.star-d
			div.sprite-estrellas.cont-Estella.star-e
			div.sprite-estrellas.cont-Estella2.stars-a
			div.sprite-estrellas.cont-Estella2.stars-b
			div.sprite-estrellas.cont-Estella2.stars-c
			div.sprite-estrellas.cont-Estella-B.star-1
			div.sprite-estrellas.cont-Estella-B.star-2
			div.sprite-estrellas.cont-Estella-B.star-3
			div.sprite-estrellas.cont-Estella-B.star-4
			div.sprite-estrellas.cont-Estella-B.star-5
			div.sprite-nubes-luna.cont-nube.nube-a
			div.sprite-nubes-luna.cont-nube-2.nube-b
			div.punto-R.posicion-a
			div.punto-R.posicion-b
			div.punto-R.posicion-c
			div.punto-R.posicion-d
			div.punto-A.posicionA-a
			div.punto-A.posicionA-b
			div.punto-A.posicionA-c
			div.punto-A.posicionA-d
			div.punto-B.posicionB-a
			div.punto-B.posicionB-b
			div.punto-B.posicionB-c
			div.punto-B.posicionB-d




